<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="puskesmas.antrian.com.antrianpuskesmas">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".BaseApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity" android:label="@string/app_name"/>
        <activity android:name=".Activities.AntrianActivity" android:label="Nomor Antrian Anda"/>
        <activity android:name=".Activities.NewPasienActivity" android:label="Tambah daftar pasien"/>
        <activity android:name=".Activities.RegistrasiActivity" android:label="Registrasi"/>
        <activity android:name=".Activities.SplashActivity" android:label="splash" android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.LoginActivity" android:label="Login" android:theme="@style/AppThemeNoActionBar"/>
    </application>

</manifest>